<!DOCTYPE html>
<html>
  <%- include('../main/head'); -%>
  <body style="background-image: url('/fon_main.jpg')">
    <%- include('../main/header'); -%>
      <div class="quiz-container" style="margin-top: 5%;">
        <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: 100%;margin-bottom: 0;">
          <h4 class="alert-heading"><%= test[0].name %></h4>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <p><%= test[0].description %></p>
          </div>
        <div class="quiz-card" style="margin-top: 1%;">
          <div class="score-container">
            <div class="progress" role="progressbar" aria-label="Animated green example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 0%"></div>
            </div>
          </div>
          <% if(questions[order[chetQuestions]].type_q == "video"){ %>
            <%- include('level_test_course/output/video.ejs'); -%>
          <% }else{ %>
             <h2 id="questionH2"><%= questions[order[chetQuestions]].question %></h2>
          <% } %>
          <div class="quiz-question">
            <input type="hidden" id="chet_questions" value="<%= chetQuestions %>">
            <input type="hidden" id="number_question" value="<%= order[chetQuestions] %>">
          </div>
          <% if(questions[order[chetQuestions]].type_q == "audio"){ %>
            <%- include('level_test_course/input/voice.ejs'); -%>
          <% } %>
        </div>
      </div>
    <%- include('../other/panelAuthorization'); -%> 
    <%- include('../main/scripts'); -%>
  </body>
</html>
