<!DOCTYPE html>
<html>
  <%- include('../main/head'); -%>
  <body style="background-image: url('/fon_main.jpg')">
    <%- include('../main/header'); -%>
    <%- include('courses_card'); -%>
    <%- include('../other/panelAuthorization'); -%> 
    <%- include('../main/scripts'); -%>
  </body>
</html>
