<div class="quiz-container">
  <div class="quiz-card">
    <div class="score-container">
      <div class="score-oval">
        <div class="correct-oval"></div>
        <div class="incorrect-oval"></div>
        <div class="score-counter">
          <span class="correct">0</span>/<span class="total">0</span>
        </div>
      </div>
    </div>
    <div class="quiz-question">
      <input type="hidden" id="chet_questions" value="<%= chetQuestions %>">
      <input type="hidden" id="number_question" value="<%= order[chetQuestions] %>">
      <input type="hidden" id="question" value="<%= allWords[order[chetQuestions]].word %>">
       <h2 id="questionH2"><%= allWords[order[chetQuestions]].word %></h2>
    </div>
   <%- include('training_level1',{allWords:allWords,orderOptions:orderOptions}); -%>
  </div>
</div>