<!DOCTYPE html>
<html>
  <%- include('../../main/head'); -%>
  <body style="background-image: url('/fon_main.jpg')">
    <%- include('../../main/header'); -%>
    <% if(level == 1){ %>
    <%- include('level1/card_level1',{allWords:allWords,order:order, chetQuestions:chetQuestions,orderOptions:orderOptions}); -%> 
    <% }else{ %>
    <%- include('level2/card_level2',{allWords:allWords,order:order, chetQuestions:chetQuestions,orderOptions:orderOptions}); -%> 
    <% } %>
    <%- include('../../other/panelAuthorization'); -%> 
    <%- include('../../main/scripts'); -%>
  </body>
</html>
