<div class="quiz-options">
    <button class="option" id="but1" value="<%= orderOptions[chetQuestions][0] %>">
        <%= orderOptions[chetQuestions][0] %>
    </button>
    <button class="option" id="but2" value="<%= orderOptions[chetQuestions][1] %>">
        <%= orderOptions[chetQuestions][1] %>
    </button>
    <button class="option" id="but3" value="<%= orderOptions[chetQuestions][2] %>">
        <%= orderOptions[chetQuestions][2] %>
    </button>
    <button class="option" id="but4" value="<%= orderOptions[chetQuestions][3] %>">
        <%= orderOptions[chetQuestions][3] %>
    </button>
</div>