<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body style="background-image: url('/fon_main.jpg')">
    <%- include('header'); -%>
    <%- include('card'); -%> 
    <%- include('panelAuthorization'); -%> 
    <%- include('scripts'); -%>
  </body>
</html>
